.SkillsSection {
  background-color: #222a35;
  display: flex;
  justify-content: center;
}
.SkillsSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  max-width: 1100px;
  width: 100%;
  padding: 15px 0 40px 0;
}
.skillscontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
    justify-content: center;
}
.skillHead {
  max-width: 450px;
  width: 100%;
  background-color: rgb(25, 25, 36);
  border: 0.1px solid #854ce6;
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  border-radius: 16px;
  padding: 20px 40px 35px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skillTitle{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgb(177, 178, 179);;
}
.skillList {
    display: flex;
    flex-wrap: wrap;
  gap: 5px;
}
.skill {
  border: 2px solid grey;
  border-radius: 16px;
  padding: 10px 15px;
  display: flex;
  gap: 5px;
}
.skill img {
  width: 24px;
  height: 24px;
}
