.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: rgb(25, 25, 36);
  position: sticky;
}
.headercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  max-width: 1200px;
}
.header .deatilSection {
  display: flex;
}
