.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  background-color: rgb(25, 25, 36);
  position: fixed;
  z-index: 20;
}
.headercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
.bracket {
  font-size: 28px;
  font-weight: 100;
  color: rgb(133, 76, 230);
}
.header .deatilSection ul {
  display: flex;
  gap: 15px;
}
.header .deatilSection ul a {
  text-decoration: none;
  color: white;
}
.headerButton {
  border: 1px solid rgb(133, 76, 230);
  border-radius: 15px;
  padding: 4px 10px;
  background-color: rgb(25, 25, 36);
  cursor: pointer;
}
.headerButton a {
  text-decoration: none;
  color: white;
}
.mobileheaderButton {
  border: 1px solid rgb(133, 76, 230);
  border-radius: 15px;
  padding: 4px 10px;
  background-color: rgb(133, 76, 230);
  cursor: pointer;
  max-width: 110px;
}

.mobileIcon {
  cursor: pointer;
  font-size: 24px;
  padding-right: 10px;
  display: none;
}
.mobiledeatilSection a {
  text-decoration: none;
  color: white;
}
.mobiledeatilSection {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 254px;
  background-color: rgba(0, 0, 0, 0.582);
  left: 0px;
  padding-left: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 7px;
  transition: all 0.6s ease-in-out;
}
@media (max-width: 770px) {
  .headerButton {
    display: none;
  }
  .deatilSection {
    display: none;
  }
  .mobileIcon {
    display: block;
  }
}
